# SQL other joins and subqueries (exercises)

## Packages and database files needed for this project

*Note:* This section is repeated in several notebooks in order to make them functional as independent lectures.

Import needed packages:

In [ ]:
import urllib.request    # needed for download of the example database
import shutil            # needed for unziping of the example database

from sqlalchemy import * # package providing unified access to various databases

If necessary, download the database:

In [ ]:
import urllib.request    # needed for download of the example database
import shutil            # needed for unziping of the example database
import os                # for checking existence/removing of a file

In [ ]:
if not os.path.isfile("chinook.db"):
    urllib.request.urlretrieve("https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip", "chinook.zip")
    shutil.unpack_archive("chinook.zip")
    os.remove("chinook.zip")

In this session we use the magic database connector. Install `ipython-sql` when necessary.

In [ ]:
#pip install ipython-sql #In case the SQLite not working in Jupyter
%load_ext sql
%sql sqlite:///chinook.db

## Exercise: difference between two sets

### Task

Based on the `artists` and `albums` tables:
- Construct a table with one column `ArtistId` containing only the artists who do not have any album.
- Use `EXPECT`.

### Solution

In [ ]:
%%sql
  SELECT ArtistId FROM artists
EXCEPT
  SELECT ArtistId FROM albums
LIMIT 5

## Exercise: intersection of two sets

### Task

Based on the `customers` and `invoices` tables:
- Construct a table with one column `CustomerId` containing only the customers who had an invoice.
- Use `INTERSECT`.

### Solution

In [ ]:
%%sql
  SELECT CustomerId FROM customers
INTERSECT
  SELECT CustomerId FROM invoices
LIMIT 5

## Exercise: subquery

### Task

Returns the customers whose sales representatives are in the `City` of `Calgary` .  
You can use `customers` and `employees` tables.

### Solution

In [ ]:
%%sql
SELECT CustomerId,
       FirstName,
       LastName
  FROM customers
 WHERE SupportRepId IN (
           SELECT EmployeeId
             FROM employees
            WHERE City = 'Calgary'
       )
 LIMIT 5