# SQL modification statements (exercises)

## Packages and database files needed for this project

*Note:* This section is repeated in several notebooks in order to make them functional as independent lectures.

Import needed packages:

In [ ]:
import urllib.request    # needed for download of the example database
import shutil            # needed for unziping of the example database

from sqlalchemy import * # package providing unified access to various databases

If necessary, download the database:

In [ ]:
import urllib.request    # needed for download of the example database
import shutil            # needed for unziping of the example database
import os                # for checking existence/removing of a file

In [ ]:
if not os.path.isfile("chinook.db"):
    urllib.request.urlretrieve("https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip", "chinook.zip")
    shutil.unpack_archive("chinook.zip")
    os.remove("chinook.zip")

In this session we use the magic database connector. Install `ipython-sql` when necessary.

In [ ]:
#pip install ipython-sql #In case the SQLite not working in Jupyter
%load_ext sql
%sql sqlite:///chinook.db

## Exercise: updating rows

### Task

An employee `Park Margaret` has moved to a new address: 
- `City`: `Toronto`,
- `State`: `NO`,
- `Postcode`: `M5P 2N7`. 

Update the `employee` table accordingly.  
To verify that the change indeed is made, show the content before and after the change.

### Solution

Let's find the data before the change:

In [ ]:
%sql SELECT * FROM employees WHERE LastName = "Park"

Changing the database:

In [ ]:
%%sql
UPDATE employees
SET City = 'Toronto',
    State = 'ON',
    PostalCode = 'M5P 2N7'
WHERE
    LastName = "Park" AND FirstName = "Margaret"

Let's check whether the data have changed:

In [ ]:
%sql SELECT * FROM employees WHERE LastName = "Park"

## Exercise: adding rows

### Task

In a single SQL command insert three new random persons into the `artists` table.  
To verify that the change indeed is made, show the content before and after the change.

### Solution

Let's see the end of the `artists` table before adding the new content:

In [ ]:
%sql SELECT * FROM artists ORDER BY ArtistId DESC LIMIT 5

Adding the new rows:

In [ ]:
%%sql
INSERT INTO artists (Name)
  VALUES
	("Thomas Acda"),
	("Herman Brood"),
	("Don Diablo")

Let's see the end of the `artists` table after adding the new content:

In [ ]:
%sql SELECT * FROM artists ORDER BY ArtistId DESC LIMIT 5

## Exercise: removing rows

### Task

Let's delete `artists` whose names contain the word `Santana`.  
To verify that the change indeed is made, show the content before and after the change.

### Solution

Let's first show the rows to be deleted:

In [ ]:
%sql SELECT * FROM artists WHERE Name LIKE '%Santana%'

Executing the delete operation:

In [ ]:
%%sql
DELETE FROM artists WHERE Name LIKE '%Santana%'

Let's check whether the rows are indeed deleted:

In [ ]:
%sql SELECT * FROM artists WHERE Name LIKE '%Santana%'